/*
  Styles used for my personal website. CraigP17@github.io
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: black;
}

#topBtn {
  position: fixed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  bottom: 2vw;
  right: 2vw;
  z-index: 400;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 33px;
}


/* Landing Styles */

#forestBackground {
  background-image: url('../images/forestSmall.jpg');
  background-color: #58A4B0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  border-radius: 0 0 85px 0;
}

@media screen and (min-width: 765px) {
  #forestBackground {
    background-image: url('../images/forestMed.jpg');
    background-position: center;
    border-radius: 0 0 135px 0;
  }
}

@media screen and (min-width:900px) {
  #forestBackground {
    background-image: url('../images/forest.jpg');
    background-position: center;
    border-radius: 0 0 135px 0;
  }
}

.designBehindPhoto {
  background-image: url('../images/blue.jpg');
  background-color: grey;
  background-size: cover;
  background-repeat: repeat;
  background-position: left center;
}

img.headshot {
  border-radius: 0 130px 0 0;
}

.headshot-overlap {
  position: relative;
  z-index: 300;
  right: -20px;
}

.card-width {
  width: 100%;
  box-sizing: border-box;
}

.name-title {
  font-size: 2.75rem;
  line-height: 1.2;
}

.job-title {
  font-size: 1.75rem;
}

@media screen and (min-width: 768px) {
  .w-md-60 {
    width: 75%;
  }

  .card-width {
    width: 90%;
  }

  .name-title {
    font-size: 3rem;
    line-height: 1.2;
  }

  .job-title {
    font-size: 2rem;
  }

}

@media screen and (min-width: 992px) {
  .w-md-60 {
    width: 65%;
  }
  .card-width {
      width: 70%;
  }

  .headshot-overlap {
    right: -75px;
  }
}

#landingSubtitle {
  color: #58A4B0; 
}

#landingLeft {
  min-height:95vh;
  background-image: url('../images/forest.jpg');
  background-color: #58A4B0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-attachment: fixed;
  border-radius: 0 0 135px 0;
}

.iconGrey{
  color: grey;
  font-size: 150%;
}

.iconGrey:hover {
  transition: 0.3s;
  color: #58A4B0;
}

ul.landingHorizontalList {
  list-style-type: none;
  display: inline-block;
}

li.landingLink {
  display: block;
  float: left;
  text-decoration: none;
  opacity: 0.9;
  margin: 0 20px 0 0;
}

li.landingLink:hover {
  transition: 0.3s;
  opacity: 1;
}

img.headshotImg {
  max-width: 35rem;
  height: 100%;
  width: 100%;
  border-radius: 0 130px 0 0;
}

.blueBalls {
  height: 100%;
  background-image: url('../images/blue.jpg');
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}


/* Experience Styles */

h1.ExperienceTitle {
  color: #006AD7;
  font-size: 2.5rem;
}

/* Timeline used in Experience */
ul.timeline {
  list-style-type: none;
  position: relative;
  margin-left: 2vw;
  margin-bottom: 0;
  min-height: 100vh;
}

ul.timeline:before {
  content: ' ';
  background: #006AD7;
  display: inline-block;
  position: absolute;
  left: 10px;
  width: 7px;
  height: 100%;
  z-index: 250;
}

li.job {
  margin: 1vw 3vw 20px 0;
  padding: 10px 20px 1px 20px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid darkgrey;
}

@media screen and (min-width:900px) {
  li.job {
    width: 80vw;
  }
}

li.job::before {
  content: ' ';
  display: inline-block;
  position: absolute;
  left: 4px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #0074D9;
  background: #F3F0E2;
  z-index: 275;
}

.company {
  color: #B32442;
}

.jobTitle {
  color: #006AD7;
}

.jobDate {
  color: #58A4B0;
}

.horizLine {
  margin: 0.5rem 0;
}


/* Project */

.carousel-photo-fit {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.rounded-border-left-lg-top-sm {
  border-radius: 3px 0 0 3px;
}

@media only screen and (max-width: 639px) {
    .rounded-border-left-lg-top-sm {
        border-radius: 3px 3px 0 0;
    }
}

.project-title {
  color: #B32442;
}

.project-logo {
  max-width: 35px;
  margin-right: 5px;
}

.section-title {
  color: #006AFF;
}

.sub-title {
  color: #B32442;
}


/* About Me */

#About {
  min-height: 100vh;
  background-color:white;
}

#circle-photo {
  border-radius: 50%;
  max-width: 150px;
}

.aboutMe {
  line-height: 1.75em;
}

#redLineDiv {
  background-color: #DC3545;
}

.resume {
  color: #006AA7;
}

.resume:hover {
  transition: 0.2s;
  text-shadow: 3px 3px 5px #999999;
}

i.iconRed {
  color: #DC3545;
  font-size: 200%;
}

i.iconRed:hover {
  transition: 0.2s;
  color: #B32442;
}
