/*
These are the styles used for my personal website. CraigP17@github.io
They are sorted by styles for each webpage. The navigation bar styles are used
on every webpage.
*/



/*
Main Page
*/

#nametag {
  margin-left: 0vw;
  margin-right: 0vw;
  margin-bottom: 3vh;
  margin-top: 1vh;
  text-align: center;
}

#textstyle {
  font-family: "Georgia", palatino, arial;
  padding: 0;
  margin: 0;
}

div.text {
  font-size: 200%;
}
p.home {
  color: #808080;
}
h1.home {
  color: rgba(0,0,0, 0.8);
}
ul.contact {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
li.contact {
  display: block;
  float: left;
  color: white;
  margin-left: 3vw;
  margin-right: 3vw;
  text-decoration: none;
  font-size: 150%;
}

img.contact-logo {
  max-width: 20vw;
  max-height: 20vh;
  opacity: 0.8;
}

img.contact-logo:hover {
  opacity: 1;
}

ul.main_page {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

li.mains a {
  display: block;
  color: white;
  padding: 2% 20px;
  text-decoration: none;
  text-align: centre;
  font-size:200%;
  border-bottom: 1px solid #555;
  background-color: rgba(255,255,255,0.25);
  text-shadow: 1px 1px 5px grey;
}
li.mains a:hover {
  background-color: rgba(255,255,255,0.4);
  color: white;
  font-size: 250%;
  font-weight: bold;
  padding: 3.5% 30px;
  transition: 0.3s;
}


/*
NAVIGATION BAR
*/

ul.navs {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  border-bottom: 1px solid;
  font-family: "Georgia", palatino, arial;
}

li.nav {
  float: right;
  border-right: 1px solid;
}

#nav-text {
  font-size: 155%;
  font-family: "Georgia", palatino, arial;
  text-shadow: 1px 1px 1px #336699;
}

#nav-item-style {
  border-right: 1px solid grey;
}

li.nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 150%;
}
li.nav a:hover {
  background-color: rgba(255,255,255,0.25);
  text-shadow: 1px 1px 1px #336699;
}
li.nametag {
  float: left;
  padding: 10px 10px;
  font-size: 150%;
}

/*
PORTFOLIO styles
*/

.project {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: 7%;
  font-family: "Georgia", palatino, arial;
  text-shadow: 1px 1px 4px black;
}

.images {
  width: 45vw;
  text-align: center;
  padding-left: 5%;
}

.descript {
  text-align: center;
  font-size: 160%;
  color: #94DAF0;
  line-height: 1.5em;
  font-family: "Georgia", palatino, arial;
  text-shadow: 1px 1px 4px black;
}

#vert {
  vertical-align: middle;
}

/*
EXPERIENCE STYLES
*/

.content {
  width: auto;
  height: 94vh;
  margin: 0;
  background-size: cover;
  padding: 0;
  color: white;
  font-size: 125%;
  font-family: "Georgia", palatino, arial;
  /*Second Version Added*/
  text-shadow: 1px 1px 3px black;
  margin-top: 5vh;
}

.centered {
  text-align: center;
  align-items: center;
  color: white;
}

.workplace {
  padding-left: 12%;
  padding-top: 50px;
  padding-right: 17%;
  padding-bottom: 0;
  background-size: cover;
  text-shadow: 1px 1px 3px black;
}

.skillpic {
  padding-left: 5%;
  padding-right: 0%;
  padding-top: 10px;
  width: 45vw;
}

ul.centred {
  text-align: left;
  padding-right: 5px;
  display: inline-block;
  margin: 0;
}
li.centred {
  padding: 10px;
}

/*
EDUCATION STYLES
*/

.school {
  margin: 3%;
  padding: 0;
  width: 100%;
  height: auto;
  color: #FFCC66;
  font-size: 125%;
  font-family: "Georgia", palatino, arial;
  text-shadow: 1px 1px 3px black;
  line-height: normal;
}

.degree {
  padding-left: 2%;
  color: #94DAF0;
}

.classes {
  color: white;
  padding-left: 5%;
  line-height: 1.75em;
}

li.course {
  padding-bottom: 7px;
}

/*
ABOUT STYLES
*/

.connect {
  background-color: #FFCC66;
  height: auto;
  position: fixed;
  margin-top: 30vh;
  margin-bottom: 10px;
}

ul.connections {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

li.connections {
  margin: 10px;
  margin-right: 0;
  margin-left: 5px;
  padding-bottom: 0;
  opacity: 0.7;
}

li.connections:hover {
  opacity: 1;
}

.explain {
  font-size: 160%;
  padding-left: 11%;
  padding-top: 7vh;
  padding-right: 11%;
  line-height: 2em;
  color: white;
  text-align: left;
  text-shadow: 1px 1px 3px black;
  font-family: "Georgia", palatino, arial;
}

a.resume {
  color: #FFCC66;
  text-decoration: none;
}

a.resume:hover {
  text-decoration: underline;
  color: #94DAF0;
}

.flex-container {
  display: flex;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  text-shadow: 1px 1px 1px black;
}

.skill-contained {
  color: #94DAF0;
  font-size: 175%;
  text-shadow: 1px 1px 3px black;
  font-family: "Georgia", palatino, arial;
  text-align: left;
}

ul.about-skill {
  text-align: left;
  display:inline-block;
  margin:0;
  width: 100%;
  font-family: "Georgia", palatino, arial;
}

li.about-skill {
  color: white;
  font-size: 80%;
  padding: 5px;
  text-align: left;
}
